[submodule "subprojects/thorvg"]
	path = subprojects/thorvg
	url = https://github.com/thorvg/thorvg.git
[submodule "subprojects/entt"]
	path = subprojects/entt
	url = https://github.com/skypjack/entt.git
[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog.git
